*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

.bac
{
    width:100px;
    height:100px;
    padding: auto;
     margin: auto;
     background: yellow;
}
.div1{
    align-items: center;
    justify-items: center;
    display: flex;
}