body{
    background-color:black;

}
.frm
{
    color:mediumspringgreen;
    position: sticky;
}

.inp
{
    width:300px;
    height: 10px;
    padding:20px;
    border:20px solid white;
    margin:20px;
    border-radius: 10px 10px 10px 10px;

}
.inpt
{
    width:200px;
    height:70px;
    padding:20px;
    margin:20px;
    border:20px;
    border-radius:10px 10px 10px 10px;
}
.inbtn
{
    padding:10px;
    width:150px;
    height: 50px;
    background-color:lime;
    color:black;
    font-size:large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.inbtn:hover{
    cursor:pointer;
    background-color:rgba(8, 218, 155, 0.911);
}