body{
    background-color:black;
   
}
.navalign
{
    text-align: right;
}
a{
    color:lime;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:none;
    word-wrap: break-word;
}
a:hover{
    color:rgb(21, 236, 243);
    cursor:grabbing;
}

.frm
{
    color:mediumspringgreen;
    position: sticky;
}

.inp
{
    width:250px;
    height: 10px;
    padding:15px;
    border:15px solid white;
    margin:15px;
    border-radius: 10px 10px 10px 10px;
    grid-row: auto;

}
.inpt
{
    width:200px;
    height:70px;
    padding:15px;
    margin:15px;
    border:15px;
    border-radius:10px 10px 10px 10px;
}
.inbtn
{
    padding:10px;
    width:150px;
    height: 50px;
    background-color:lime;
    color:black;
    font-size:large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    left:50%;
}
.inbtn:hover{
    cursor:pointer;
    background-color:rgb(212, 35, 228);
}
label
{ 
    width: 240px;
    display:inline-block;
    text-align:right;
    font-size: 20px;
}