
marquee
{
  color:darkgreen;
}
ul
{
  display:flex;
  list-style: none;
}
ul li
{
  height:30px;
  padding:15px;
}
li a
{

  padding:10px;
}
.navig
{
  display:block;
  background-color: rgb(32, 30, 30);
}
.home
{
    position:relative;
    justify-content: center;
}
a 
{
  text-decoration:none;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
}
a:hover
{
  color:darkorange;
  cursor:pointer;
  background-color:rgb(0, 0, 0);
}
p
{
  font-family:'Times New Roman', Times, serif;
  color:blanchedalmond;
  position: absolute;
  font-size:2em;
  text-align:center;
  border-top:16px;
  left:8px; 
}

.btn
{ 
   border:5px;
   padding:10px;
   background-color:rgb(0, 255, 255);
   cursor:grab;
  
  
}
.nav
{
  background-color:black;
  padding:10px;
  text-align:right;  
}
.lab
{  
  size:20px;
  color:black;
  padding:10px;
  border:5px;
  width:200px;
  height:50px;
  border-radius:8px 8px 8px 8px;
  
}

.btn-bt
{
  
  background-color:rgb(49, 224, 26);
  width:160px;
  height:40px;
}
.btn-anchor
{
  text-decoration: none;
  color:rgb(143, 5, 5);
}
.lbl
{
  color:lime;
  font-size: 20px;
}
.bas
 {
    color:rgb(103, 103, 214)
 }


